@import "variables";

section.projects {
  img.patternProjects {
    height: 1000px;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  div.wrap {
    max-width: 1200px;
    margin: auto;
    padding: 130px 5px 0 5px;
    

    a.more {
      color: $main;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    h2,
    p {
      text-align: center;
      padding-top: 20px;
    }

    article {
      border: 2px solid $main;
      border-radius: 20px;
      padding: 25px 15px;
      display: flex;
      max-width: 1000px;
      margin: 100px auto;
      background-color: #001835;

      div.text {
        width: 50%;

        p {
          text-align: left;
        }
      }

      div.other {
        width: 50%;
        gap: 20px;

        div.list {
          // padding-left: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            text-align: left;
            font-weight: 600;
          }
          
        }
            

        div.top {
          display: flex;
          justify-content: space-between;

          div.buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;

            a {
              border: 2px solid $main;
              color: $main;
              background-color: $dark;
              border-radius: 30px;
              padding: 5px 15px;
              font-weight: 500;
              text-decoration: none;
              transition: 0.2s;

              &:hover {
                color: $dark;
                background-color: $main;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 940px){
  section.projects {
    div.wrap{
      article {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        div.text {
          width: 100%;

        }
        div.other {
          width: 100%;
          div.top {
            justify-content: space-around;
            gap: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  section.projects {
    div.wrap {
      article {
        div.other {
          display: flex;
          flex-direction: column-reverse;
          div.top {
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
}